<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Details</title>

<!-- Bootstrap core CSS -->

<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" th:href="@{/css/Details.css}" />

</head>
<body>
	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container"
			style="margin-left: 0px; margin-right: 0px; max-width: 1800px;">
			<a class="navbar-brand" href="/lawyer/LawyerHome">Law System</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link"
						href="/lawyer/SearchIpc">Search IPC codes</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lawyer/Details">Fill details</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lawyer/ShowCases">Show cases</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lawyer/LawyerChat">Chat</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lawyer/UpdateInfo">Update account detail</a></li>
					<!-- apply it here -->
					<li class="nav-item">
						<form th:action="@{/logout}" method="get">
							<button class="btn btn-md btn-danger btn-block" name="logout"
								type="Submit">Logout</button>
						</form> 
				</ul>
			</div>
		</div>
	</nav>

	<div class="container"
		style="margin-right: 200px; margin-top: 20px; margin-bottom: 20px; margin-left: 0px;">
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<form autocomplete="off" action="#" th:action="@{/lawyer/Details}"
					th:object="${lawyer}" method="post" class="form-horizontal"
					role="form" style="width: 1500px;">
					<h3 class="form-signin-headings">Lawyer Detail</h3>

					<div class="form-group">
						<div class="col-sm-9">
						
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Identification no</h4>
							<input type="text" th:field="*{lawyerid}"
								placeholder="Unique Lawyer identification no"
								class="form-control" style="width: 690px;" />
								<label th:if="${#fields.hasErrors('lawyerid')}"
								th:errors="*{lawyerid}" class="validation-message"></label>	
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-9">
							
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								First name</h4>
								
							<input type="text" th:field="*{fname}" placeholder="First Name"
								class="form-control"
								style="width: 200px; float: left; margin-right: 30px;" /> 
								
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Last name</h4>
							<input type="text" th:field="*{lname}" placeholder="Last Name"
								class="form-control" style="width: 200px;" />
								<label th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"
								class="validation-message"style="width: 200px; float: left; margin-right: 30px;" ></label>	
								<label
								th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"
								class="validation-message"style="width: 200px; margin-left:270px;"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">

							
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Email id</h4>
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control"
								style="width: 200px; float: left; margin-right: 30px;" /> 
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Phone no</h4>
							<input type="text" th:field="*{phoneNo}" placeholder="PhoneNo"
								class="form-control" style="width: 200px;" />
								<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"style="width: 200px; float: left; margin-right: 30px;" ></label>
								<label
								th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}"
								class="validation-message"style="width: 200px; margin-left:270px;"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Court</h4>
							<label th:if="${#fields.hasErrors('court')}" th:errors="*{court}"
								class="validation-message"></label> <select th:field="*{court}"
								style="width: 200px; height: 32px; color: black; float: left; margin-right: 30px;">
								<option th:each="court : ${allCourts}" th:value="${court}"
									th:text="${court}">Court</option>
							</select>

							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Type</h4>
							<label th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
								class="validation-message"></label> <select th:field="*{type}"
								style="width: 200px; height: 32px; color: black;">
								<option th:each="type : ${allTypes}" th:value="${type}"
									th:text="${type}">Type</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Experience</h4>
							<input type="text" th:field="*{experience}"
								placeholder="experience" class="form-control"
								style="width: 200px; float: left; margin-right: 30px;" /> 
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Total cases</h4>
							<input type="text" th:field="*{totalCases}"
								placeholder="Total Cases" class="form-control"
								style="width: 200px;" />
								<label th:if="${#fields.hasErrors('experience')}"
								th:errors="*{experience}" class="validation-message"style="width: 200px; float: left; margin-right: 30px;"></label>
								<label
								th:if="${#fields.hasErrors('totalCases')}"
								th:errors="*{totalCases}" class="validation-message"style="width: 200px; margin-left:270px;"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Address</h4>
							<textarea rows="10" cols="100" th:field="*{address}"
								placeholder="address" class="form-control" maxlength="399"
								style="resize: both; width: 698px; height: 76px;">
						</textarea>
						<label th:if="${#fields.hasErrors('address')}"
								th:errors="*{address}" class="validation-message"> </label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block"
								style="width: 200px; float: left; margin-right: 30px;">Submit
								Details</button>
							<button type="reset" class="btn btn-md btn-danger btn-block"
								style="width: 200px;">Reset Details</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
	</div>
	<!-- <footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Online Law Sysetm &copy;Website 2018</p>
		</div>
	</footer> -->
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>