<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>UpdateIpcCode</title>

<!-- Bootstrap core CSS -->

<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" th:href="@{/css/AdminHome.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/UpdateIpcCode.css}" />

</head>

<body>

	<!-- Navigation -->
	<nav
		class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container"
			style="margin-left: 0px; margin-right: 0px; max-width: 1800px;">
			<a class="navbar-brand" href="/admin/AdminHome.html">Law System</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link"
						href="/admin/ShowIpcCodes">IPC codes</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/admin/UserInfo.html">User details</a></li>
					<li class="nav-item">
						<form th:action="@{/logout}" method="get">
							<button class="btn btn-md btn-danger btn-block" name="logout"
								type="Submit">Logout</button>
						</form>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container"
		style="margin-right: 100px; margin-top: 20px; margin-bottom: 20px; margin-left: 0px;">
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<form autocomplete="off" action="#"
					th:action="@{/admin/UpdateIpcCode}" th:object="${ipc}"
					method="post" class="form-horizontal" role="form"
					style="width: 1800px;">
					<h2 class="form-signin-headings">Update IPC code</h2>

					<div class="form-group">
						<div class="col-sm-9">

							<label th:if="${#fields.hasErrors('section')}"
								th:errors="*{section}" class="validation-message"></label>
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Section</h4>
							<input type="text" th:field="*{section}"
								placeholder="Section no." class="form-control"
								style="width: 200px;" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Keyword</h4>
							<label th:if="${#fields.hasErrors('keyword')}"
								th:errors="*{keyword}" class="validation-message"> </label> <select
								th:field="*{keyword}"
								style="width: 200px; height: 40px; color: black;">
								<option th:each="keyword : ${allkeywords}" th:value="${keyword}"
									th:text="${keyword}">Keyword</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('codeName')}"
								th:errors="*{codeName}" class="validation-message"> </label>
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Code name</h4>
							<input type="text" th:field="*{codeName}" placeholder="Code name"
								class="form-control" style="width: 200px;" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('codeDescription')}"
								th:errors="*{codeDescription}" class="validation-message"></label>
							<h4 style="float: left; margin-right: 30px; width: 232px;">*
								Code description</h4>
							<textarea rows="15" cols="500" th:field="*{codeDescription}"
								placeholder="Code description" class="form-control"
								maxlength="3999"
								style="height: 175px; width: 350px; resize: both;"> </textarea>
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block"
								style="width: 180px; float: left; margin-right: 30px;">Add</button>
							<button type="reset" class="btn btn-md btn-danger btn-block"
								style="width: 180px; margin-top: 20px;">Reset</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
	</div>

	<!--<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Online Law Sysetm &copy;
				Website 2018</p>
		</div>
	</footer>-->

	<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
